<html>
    <head><title>System</title></head>
    <body>
        <p align="right">
            <a href="/login">登录</a>&nbsp;&nbsp;&nbsp;
            <a href="/registerForManager">销售经理注册</a>&nbsp;&nbsp;&nbsp;
            <a href="/registerForSalesman">销售人员注册</a>
        </p>
        <h1 align="center">宁夏红枸杞产业集团销售管理系统</h1>
        <br><hr><br><br>
        <form method="post" action="/login">
        <table align="center"  width="400" height="100" >
            <tr>
                <td>用户Id</td><td><input type="number" name="userid"></td>
            </tr>
            <tr>
                <td>用户密码</td><td><input type="text" name="password"></td>
            </tr>
            <tr>
                <td></td><td><input type="submit">&nbsp;&nbsp;&nbsp;<input type="reset"></td>
            </tr>
        </table>


        </form>
    </body>
</html>