{% extends "managerPage.html" %}

{% block header %}

{% end %}

{% block body %}
    <form method="post" action="/managerPasswordUpdate?userid={{userid}}">
        <table align="center" border="0"  >
            <tr>
                <td>登录密码</td><td><input type="text" name="password" value='{{rs.USER_PASSWORD}}'></td>
            </tr>
            <tr>
                <td></td><td><input type="submit" value="修改">&nbsp;&nbsp;&nbsp;<input type="reset"></td>
            </tr>
        </table>
    </form>
{% end %}

{% block footer %}

{% end %}